.detail {
  padding-top: 1rem;
  p {
    margin-bottom: .5rem;
  }
  .img-holder {
    img {
      width: 90%;
    }
  }
  .desc {
    margin-top: 1rem;
    border-top: .5px gray dashed;
    padding-top: .5rem;
  }
}